@using GLV.Shared.Blazor.Services
@inherits LayoutComponentBase
@inject IServiceProvider Services
@inject LayoutComponentProvider LayoutComponents

<div class="page">
    <div class="sidebar" style="@LayoutComponents?.NavBarStyleSwitch.StateString">
        <GlvNavMenu />
    </div>
    @if (HasLoaded) 
    {
        <main>
            <div class="top-row top-bar px-4 @LayoutComponents?.TopBarClass">
                @if (TopBarComponents is not null)
                {
                    @foreach (var comp in TopBarComponents)
                    {
                        @comp
                    }
                }
                else
                {
                    <Loading/>
                }
            </div>

            @if (LayoutComponents?.ContainArticleInDiv is true)
            {
                <div class="content-container">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            }
            else
            {
                <article class="content px-4">
                    @Body
                </article>
            }

            <div class="footer">
                <hr />
                @if (FooterComponents is not null)
                {
                    @foreach (var comp in FooterComponents)
                    {
                        @comp
                        <br />
                    }
                }
                else
                {
                    <Loading />
                }
            </div>

        </main>
    }
    else
    {
        <GLV.Shared.Blazor.Components.Loading />
    }
</div>
